/.vscode/settings.json
/bin
*.out
*.o

# autotools
*.scan
*.log

.deps/
/*.cache/
/conf/

compile
config.h
config.h.in~
*.in
configure
*.status
stamp-h1
depcomp
INSTALL
install-sh
missing
*.m4
*.trs

Makefile
libregex
libregextest
arraytest
hashmaptest

*.tar.gz
*.py